* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Lato", sans-serif;
}
body {
  background-image: url("https://doc-04-7c-docs.googleusercontent.com/docs/securesc/55j2k2qp7emmoh6i5jbiks5dde5ovc4s/nm37q2p9avirntnb450ut7d93rcnog1v/1617279300000/10857059472530834873/10857059472530834873/17MLb59Eyjd3tWp-AoCqvnOELMoWlMnnF?authuser=0&nonce=vu0psbm35fotk&user=10857059472530834873&hash=pf2e43l0emuesloshacpinltdf9tonod");
  height: 100vh;
  overflow-x: hidden;
}
