// COLORS
$blue: #4d7777;
$white: #f2fffd;
$water: #178bca80;
$syringe-inside-color: #817d7c;

// FONT
$font-small: 1em;
$font-medium: 2em;
$font-big: 3em;

// GAP
$gap-small: 20px;
$gap: 30px;
$gap-medium: 40px;
$gap-big: 50px;
